.checkout {
    .list-group-item {
        height: 180px;
    }
    .cart {
        padding: 10px 15px;
        background-color: #fff;
        border: 1px solid #d3e0e9;
    }
    .cart-heading {
        display: inline-block;
    }
    .edit-cart {
        margin: 22px 0;
    }
    .shipping {
        padding: 10px 15px;
        background-color: #fff;
        border: 1px solid #d3e0e9;
    }
}
