ul.products {
    text-align: center;
    li {
        width: 264px;
        display: inline-block;
        vertical-align: top;
    }
    button {
        width: 100%;
    }
}

div.product {
    .title {
        margin-top: 0;
    }
    .price {
        font-size: 28px;
    }
}
